<%= form_with url: dashboard_retrospectives_path, scope: "retrospectives", :local => false do |form| %>
	<div class="row">
		<div class="col-md-4">
			<%= form.label :postive %> <br>
			<%= form.text_field :postive , class: "add-card",id: 'positive_la' %>
		</div>

		<div class="col-md-4">	
			<%= form.label :negative %><br>
			<%= form.text_field :negative , class:"add-card"%>
		</div>

		<div class="col-md-4">
			<%= form.label :improvements %><br>
			<%= form.text_field :improvements , class:"add-card"%>
		</div>

		<div class="col">
			<%= hidden_field_tag "retrospectives[board_id]" , params[:dashboard_id] %>
		</div>
	</div>
	<%= link_to "Back" ,dashboards_path, class: "btn btn-info pull-left" %>
	<%= form.submit "Submit", class: 'btn btn-info pull-right' %>
<% end %>